@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-secondary-dark-blue: hsl(234, 12%, 34%);
  --color-secondary-grayish-blue: hsl(229, 6%, 66%);
  --color-secondary-light-gray: hsl(0, 0%, 98%);

  font-size: 15px;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
p,
div,
img,
span {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: var(--color-secondary-light-gray);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", system-ui, sans-serif;
  color: var(--color-secondary-dark-blue);
  font-weight: 200;
}

/* Typography */
h1 {
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h1,
h2 {
  font-weight: 600;
}

.features {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 60px 30px;
}

header {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.light-heading {
  display: block;
  font-weight: 200;
}

.features-list {
  /* background-color: azure; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    ". team-builder ."
    "supervisor team-builder calculator"
    "supervisor karma calculator"
    ". karma .";
  gap: 30px;
  margin-top: 40px;
}

.feature-supervisor {
  grid-area: supervisor;
  border-top: 3px solid var(--color-primary-cyan);
}

.feature-team-builder {
  grid-area: team-builder;
  border-top: 3px solid var(--color-primary-red);
}

.feature-karma {
  grid-area: karma;
  border-top: 3px solid var(--color-primary-orange);
}

.feature-calculator {
  grid-area: calculator;
  border-top: 3px solid var(--color-primary-blue);
}

.feature {
  background-color: var(--color-secondary-light-gray);
  height: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px var(--color-secondary-grayish-blue);
}

.feature-icon {
  display: block;
  margin: 35px 0 0 auto;
}

/* Responsive */
/* Max Width : 1000px */
@media screen and (max-width: 1000px) {
  .features-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "supervisor karma"
      "supervisor karma"
      "team-builder calculator"
      "team-builder calculator";
  }
}

/* Max width: 580px */
@media screen and (max-width: 580px) {
  .features-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "supervisor"
      "supervisor"
      "team-builder"
      "team-builder"
      "karma"
      "karma"
      "calculator"
      "calculator";
  }
}

/* Max width: 465px */
@media screen and (max-width: 465px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
