@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-secondary-dark-blue: hsl(234, 12%, 34%);
  --color-secondary-grayish-blue: hsl(229, 6%, 66%);
  --color-secondary-light-gray: hsl(0, 0%, 98%);

  font-size: 15px;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
p,
div,
img {
  margin: 0;
  padding: 0;
}

/* Body */
